# default namespace
namespace=http://www.daselab.org/ontologies/ADE20K/hcbdwsu#

# K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=3

# K2/hornClauseLimit
hornClauseLimit=3

# K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=3

# K4/posExprTypeLimit, limit of number of concepts in a positive expression of a hornClause
conceptLimitInPosExpr=3

# K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=50

# K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=50

# declare some prefixes to use as abbreviations
prefixes = [ ("ex","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#") ]

# object properties
objectProperties={":imageContains"}

# atomic types both appeared in positive and negative
removeCommonTypes=true

# reasoner
reasoner.reasonerImplementation=pellet
                    
# knowledge source definition
ks.fileName = "sumo_with_ade_validation_r.owl"


# learning problem
lp.type = "posNegStandard"
#lp.type = "posonlylp"
lp.positiveExamples = {"ex:River_ADE_val_00000731","ex:River_ADE_val_00000732","ex:River_ADE_val_00000989","ex:River_ADE_val_00001730","ex:River_ADE_val_00001731"}

lp.negativeExamples = {"ex:Restroom_ADE_val_00001729", "ex:Roof_ADE_val_00001733","ex:Ruin_ADE_val_00000738", "ex:Runway_ADE_val_00000739","ex:Runway_ADE_val_00000738","ex:Restaurant_ADE_val_00000728","ex:Restaurant_ADE_val_00001727","ex:Resort_ADE_val_00000727","ex:Raceway_ADE_val_00001720","ex:Ramp_ADE_val_00000721","ex:Ranch_ADE_val_00001721"}
