# default namespace
namespace=http:#www.daselab.com/sarker/mock#

# K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=3

# K2/hornClauseLimit
hornClauseLimit=3

# K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=3

# K4/posExprTypeLimit, limit of number of concepts in a positive expression of a hornClause
conceptLimitInPosExpr=3

# K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=50

# K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=50

# declare some prefixes to use as abbreviations
prefixes = [ ("ex","http://www.daselab.com/sarker/mock#") ]

# knowledge source definition
ks.fileName="/Users/sarker/Workspaces/Jetbrains/ecii/ecii/ecii/src/main/resources/test/concept_or_individual.owl"

# reasoner
reasoner.reasonerImplementation=pellet

# atomic types both appeared in positive and negative
removeCommonTypes=false

lp.type = "posNegStandard"
lp.positiveExamples = {"ex:China"}
lp.negativeExamples = {"ex:Syria"}