/******************
Example taken from yingyang
GrandFather
******************/
// default namespace
namespace=http://www.csc.liv.ac.uk/~luigi/ontologies/basicFamily#

// K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=3

// K2/hornClauseLimit
hornClauseLimit=3

// K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=3

// K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=50

// K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=50

// declare some prefixes to use as abbreviations
prefixes = [ ("kb","http://www.csc.liv.ac.uk/~luigi/ontologies/basicFamily#") ]
 
// knowledge source definition
ks.fileName="basicFamily.owl"

// reasoner
reasoner.reasonerImplementation=pellet

// object properties
objectProperties={":hasChild",":hasParent",":hasSibling"}

// atomic types both appeared in positive and negative
removeCommonTypes=true

// learning problem
lp.type = "posNegStandard"
lp.positiveExamples = {
"kb:NonnoLuigi",
"kb:Isidoro",
"kb:Gianni"
}
lp.negativeExamples = {
"kb:Giovanna",
"kb:Marisella",
"kb:Ombretta",
"kb:Serena",
"kb:Valentina",
"kb:Luca",
"kb:Luigi",
"kb:Dino",
"kb:Maria",
"kb:Mauro",
"kb:Nella",
"kb:Miriam",
"kb:NonnaLina",
"kb:Carmela"
}


