/******************
Example taken from yingyang
Sister
******************/
// default namespace
namespace=http://www.csc.liv.ac.uk/~luigi/ontologies/basicFamily#

// K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=3

// K2/hornClauseLimit
hornClauseLimit=3

// K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=3

// K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=50

// K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=50

// declare some prefixes to use as abbreviations
prefixes = [ ("kb","http://www.csc.liv.ac.uk/~luigi/ontologies/basicFamily#") ]
 
// knowledge source definition
ks.fileName="basicFamily.owl"

// reasoner
reasoner.reasonerImplementation=pellet

// object properties
objectProperties={":hasChild",":hasParent",":hasSibling"}

// atomic types both appeared in positive and negative
removeCommonTypes=true

// learning problem
lp.type = "posNegStandard"
lp.positiveExamples = {
"kb:Antonella",
"kb:Giovanna",
"kb:Maria",
"kb:Marisella",
"kb:Milly",
"kb:Miriam",
"kb:Nella",
"kb:Ombretta",
"kb:Rosanna",
"kb:Serena",
"kb:Valentina"
}
lp.negativeExamples = {
"kb:Dino",
"kb:Luigi",
"kb:Mauro",
"kb:Francesco",
"kb:Giuseppe",
"kb:Carmela"
}


