// default namespace
namespace=http://www.daselab.org/ontologies/ADE20K/hcbdwsu#

# K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=1

# k10/ maximum negclasses (top scoring) to do the combination. size would be nCr or negClassListMaxSize--C--conceptLimitInNegExpr
negClassListMaxSize=15

# K2/hornClauseLimit
hornClauseLimit=2

# K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=1

# K4/posExprTypeLimit, limit of number of concepts in a positive expression of a hornClause
conceptLimitInPosExpr=3

# k9/ maximum posclasses (top scoring) to do the combination. size would be nCr or posClassListMaxSize--C--conceptLimitInPosExpr
posClassListMaxSize=20

# K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=20

# K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=3

# K7/atomic types both appeared in positive and negative
removeCommonTypes=true

# k8, validate solutions upto this number of top solutions
validateByReasonerSize=0

# score type
scoreType=hybrid

# reasoner
reasoner.reasonerImplementation=pellet

// declare some prefixes to use as abbreviations
prefixes = [ ("ex","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#") ]

// knowledge source definition
ks.fileName = "/Users/sarker/Workspaces/Jetbrains/residue-emerald/residue/data/KGS/processed_expr_ready/combined_small_owls_sumo_untill_6_14_2020_stripped_v2.owl"


// object properties
objectProperties={":imageContains"}

// atomic types both appeared in positive and negative
removeCommonTypes=false

// reasoner
reasoner.reasonerImplementation=pellet


lp.positiveExamples = {"http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00009323","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00009320","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00009324","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00009319","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00009316"}



lp.negativeExamples = {"http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00008686","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00004229","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00011508","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00010996","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00008689","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00010995","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00010997","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00004228","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00008688","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00004230","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#ADE_train_00011509"}


