# default namespace
namespace=http://purl.obolibrary.org/obo/

# delimeter
delimeter=/

# K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=1

# k10/ maximum negclasses (top scoring) to do the combination. size would be nCr or negClassListMaxSize--C--conceptLimitInNegExpr
negClassListMaxSize=15

# K2/hornClauseLimit
hornClauseLimit=2

# K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=1

# K4/posExprTypeLimit, limit of number of concepts in a positive expression of a hornClause
conceptLimitInPosExpr=3

# k9/ maximum posclasses (top scoring) to do the combination. size would be nCr or posClassListMaxSize--C--conceptLimitInPosExpr
posClassListMaxSize=20

# K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=20

# K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=3

# K7/atomic types both appeared in positive and negative
removeCommonTypes=true

# k8, validate solutions upto this number of top solutions
validateByReasonerSize=0

# score type
scoreType=f_measure

# reasoner
reasoner.reasonerImplementation=pellet

// declare some prefixes to use as abbreviations
prefixes = [ ("ex","http://purl.obolibrary.org/obo/") ]

// knowledge source definition
ks.fileName = "/Users/sarker/Workspaces/Jetbrains/residue-emerald/residue/data/KGS/processed_expr_ready/combined_go_with_top5pct_and_10pct_v1.owl"


# object properties
#objectProperties={":imageContains"}

// atomic types both appeared in positive and negative
removeCommonTypes=true

// reasoner
reasoner.reasonerImplementation=pellet


lp.positiveExamples = {"ex:indi_GO_0005737","ex:indi_GO_0005739"}



lp.negativeExamples = {"ex:indi_GO_0003713","ex:indi_GO_0045893"}


